:root {
  --header-mini-text-color: #292929;
  --text-color: #000;
  --text-for-background: #FFF;
  --popular-text-color: #01996D;
  --paragrav-color: #484848;
  --two-paragrav-color: #424242;
  --for-numbers-color: rgba(1, 153, 109, 0.20);
  --background-color: #245852;
}

